<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/paper-toolbar/paper-toolbar.html">
<link rel="import" href="../bower_components/neon-animation/neon-animated-pages.html">
<link rel="import" href="../bower_components/neon-animation/neon-animations.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="list-view.html">
<!-- <link rel="import" href="x-grid.html"> -->
<link rel="import" href="full-view.html">
<link rel="import" href="herin-about.html">
<link rel="import" href="herin-resume.html">
<!-- <link rel="import" href="herin-photography.html"> -->

<dom-module id="artwork-demo">
  <template>
    <style>
      :host {
        display: block;
      }
      neon-animated-pages {
        height: 100%;
      }
      .header {
        margin-top: 30px;
        margin-bottom: 25px;
      }
      .header-item {
        margin-left: 50px;
        margin-right:-25px;
        cursor: pointer; 
        cursor: hand;
        font-size: 14px;
        line-height: 4em;
        letter-spacing: .1em;
        color: #787878; 
        padding-bottom: 3px;     
      }
      .header-item:hover {
        font-weight: bold;
        text-decoration: underline;
      }
      .artwork-text {
        font-family: "Helvetica Neue","Arial","sans-serif";
        text-transform: uppercase;
      }
      .author {
        margin-right: 50px;
        float: right;
        font-size: 20px;
        line-height: 2.7em;
        font-weight: bold;
      }
      .active {
        font-weight: bold;
        text-decoration: underline;
      }
      .grid {
        margin-left: 10px;
      }
    </style>

    <div class="header artwork-text">
      <span id="work" class="header-item" on-click="_switchPage">Work</span>
      <span id="contact" class="header-item" on-click="_switchPage">Contact</span>
      <span id="about" class="header-item" on-click="_switchPage">About</span>
      <!-- <span id="photography" class="header-item" on-click="_switchPage">Photography</span> -->
      <span class="author">Herin Park</span>
    </div>

    <neon-animated-pages id="pages" selected="0">
      <list-view class="grid" artwork="[[artworks]]" on-item-click="_onItemClick"></list-view>
<!--       <x-grid artworks="[[artworks]]" on-item-click="_onItemClick"></x-grid> -->
      <full-view artwork=[[artwork]] on-close="_onClose"></full-view>
      <herin-resume></herin-resume>
      <herin-about></herin-about>
      <!-- <herin-photography></herin-phtography> -->
    </neon-animated-pages>
   
    <iron-ajax url="../data/artworks.json" last-response="{{artworks}}" auto></iron-ajax> 

  </template> 
</dom-module>

<script>
  Polymer({
    is: 'artwork-demo',

    attached: function() {
      this.toggleClass("active", true, this.$.work);
    },

    _onItemClick: function(evt) {
      this.$.pages.selected = 1;
      this.artwork = evt.detail.selectedItem;
    },

    _onClose: function() {
      this.$.pages.selected = 0;
    },

    _switchPage: function(evt) {
      this.clearActiveSelection();
      if ("Work" == evt.currentTarget.innerHTML) {
        this.$.pages.selected = 0;
        this.toggleClass("active", true, this.$.work);   
      } else if ("Contact" == evt.currentTarget.innerHTML) {
        this.$.pages.selected = 2;
        this.toggleClass("active", true, this.$.contact);
      } else if ("About" == evt.currentTarget.innerHTML) {
        this.$.pages.selected = 3;
        this.toggleClass("active", true, this.$.about);
      } else if ("Photography" == evt.currentTarget.innerHTML) {
        this.$.pages.selected = 4;
        this.toggleClass("active", true, this.$.photography);
      } 
    },

    clearActiveSelection: function() {
      this.toggleClass("active", false, this.$.work);
      this.toggleClass("active", false, this.$.contact);
      this.toggleClass("active", false, this.$.about);
      this.toggleClass("active", false, this.$.photography);
    }

  });
</script>