<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="../bower_components/paper-styles/shadow.html">
<link rel="import" href="../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../bower_components/neon-animation/neon-animatable-behavior.html">
<link rel="import" href="../components/book-viewer.html">
<link rel="import" href="../components/image-viewer.html">
<link rel="import" href="../components/web-viewer.html">

<dom-module id="full-view">
  <template>
    <style>
/*      :host {
        @apply(--layout-vertical);
      }
      .flex-center-justified {
        @apply(--layout-horizontal);
        @apply(--layout-center-justified);
      }*/
      iron-icon {
        margin-left: 60px;
      }
      .main {
        background: white;
        @apply(--layout-flex);
/*        @apply(--layout-scroll);
        @apply(--shadow-elevation-8dp); */
      }
      .flex-horizontal {
        @apply(--layout-horizontal);
      }
      .flex-vertical {
        @apply(--layout-vertical);
      }
      .flexchild {
/*        @apply(--layout-flex);*/
        @apply(--layout-horizontal);
        @apply(--layout-center-justified);
      }
      .title {
        text-align: middle;
      }
      .description {
        font-family: "Helvetica Neue","Arial","sans-serif";
        text-align: right;
        margin-top: 330px;
        margin-left: 0px;
        margin-right: 1px;
        width: 180px;
      }
      .artwork-date {
        font-size: 9pt;
      }
      .contents {
        margin-left: 40px;
        width: 100%;
      }
      .long-description {
        font-family: "Helvetica Neue","Arial","sans-serif";
        font-size: 12px;
        margin-top: 40px;
        margin-bottom: 100px;
        margin-left: 20%;
        margin-right: 20%;
      }                
    </style>
	
    <div class="container flex-horizontal">
      <iron-icon id="button" icon="icons:clear" on-click="_onClearButtonClick" title="Back"></iron-icon>
      <div class="description">
        <br/><br/>
        <div><h3>[[artwork.title]]</h3></div>
        <br/>
        <div>[[artwork.description]]</div>
        <br/>
      </div>      
      <div id="main" class="main">
        <div class="flex-vertical">
        <div class="contents">      
          <template is="dom-if" if="{{_isBookType(media)}}">
            <book-viewer view-url="[[artwork.url]]" slides=[[artwork.slides]]></book-viewer>
          </template>
          <template is="dom-if" if="{{_isImageType(media)}}">
            <image-viewer slides="[[artwork.slides]]"></image-viewer>
          </template>
          <template is="dom-if" if="{{_isWebpageType(media)}}">
            <web-viewer view-url="[[artwork.url]]"></web-viewer>
          </template>
        </div>
        </div>
        <div class="long-description">[[artwork.long_desc]]</div>
      </div>      
    </div>

  </template>
</dom-module>

<script>
  Polymer({
    is: 'full-view',

    behaviors: [
      Polymer.NeonAnimatableBehavior
    ],

    properties: {
      sharedElements: {
        type: Object,
        value: function() {
          return {
            'hero': this.$.main
          };
        }
      },
      animationConfig: {
        type: Object,
        value: function() {
          return {
            'entry': [{
              name: 'fade-in-animation',
              node: this.$.button
            }, {
              name: 'hero-animation',
              id: 'hero',
              toPage: this
            }],
            'exit': [{
              name: 'fade-out-animation',
              node: this.$.button
            }, {
              name: 'scale-down-animation',
              node: this.$.main,
              transformOrigin: '50% 50%',
              axis: 'y'
            }]
          }
        }
      },
  	  artwork: {
    		type: Object,
    		observer: '_artWorkChanged'
  	  },
      media: String
    },

  	_artWorkChanged: function(newValue, oldValue) {
  		console.log(newValue + " " + oldValue);
  		this.media = newValue.displayType;
  	},

  	_isBookType: function(media) {
  		return media == "book";
  	},

  	_isImageType: function(media) {
  		return media == "image";
  	},

    _isWebpageType: function(media) {
      return media == "webpage";
    },

    _onClearButtonClick: function() {
      this.fire('close');
    }

  });
</script>
