
<dom-module id="herin-resume">
  <template>
    <style>
      :host {
        @apply(--layout-vertical);
      }
      .flex-center-justified {
        @apply(--layout-horizontal);
        @apply(--layout-center-justified);
      }
      .media-text {
        font-family: Tahoma, Georgia, Serif;
      }
      .about {
        margin-top: 100px;
      }
    </style>

    <div class="about">
      <div class="flex-center-justified media-text">
        <div><p>Herin Park</p></div>
      </div>
      <div class="flex-center-justified media-text">
        <div><p>Resume goes here!</p></div>
      </div>
    </div>  
	  
  </template>
</dom-module>
 
<script>
               
  Polymer({
      is: 'herin-resume',

      properties: {
      },

  		attached: function() {
  			console.log("Resume page is ready.");
  		}
  });

</script>
 

 
