
<dom-module id="herin-about">
  <template>
    <style>
      :host {
        @apply(--layout-vertical);
      }
      .flex-center-justified {
        @apply(--layout-horizontal);
        @apply(--layout-center-justified);
      }
      .about {
        margin-top: 70px;
      }
      .artwork-text {
        font-family: "Helvetica Neue","Arial","sans-serif";
      }
      .author {
        font-size: 20px;
        line-height: 2.7em;
        font-weight: bold;
      }
    </style>

    <div class="about">
      <div class="flex-center-justified artwork-text">
	<div>
          <p class="author">Herin Park</p>
	  <p>NY based graphic designer.<br/>
	     Parsons The New School for Design<br/>
	     Communication Design</p>
	</div>
      </div>
      <br/>
    </div>  
	  
  </template>
</dom-module>
 
<script>
               
  Polymer({
      is: 'herin-about',

      properties: {
      },

  		attached: function() {
  			console.log("About page is ready.");
  		}
  });

</script>
 

 
