
<dom-module id="herin-resume">
  <template>
    <style>
      :host {
        @apply(--layout-vertical);
      }
      .flex-center-justified {
        @apply(--layout-horizontal);
        @apply(--layout-center-justified);
      }
      .contact {
        margin-top: 70px;
      }
      .artwork-text {
        font-family: "Helvetica Neue","Arial","sans-serif";
      }
      .author {
        font-size: 20px;
        line-height: 2.7em;
        font-weight: bold;
      }
    </style>

    <div class="contact">
      <div class="flex-center-justified artwork-text author">
        <div><p>Herin Park</p></div>
      </div>
      <div class="flex-center-justified artwork-text">
        <div><p>Welcome to my website. Please, feel free to contact me by email: herinpark@gmail.com</p></div>
      </div>
      <br/>
      <div class="flex-center-justified artwork-text">
        <div>Link to <a href="/data/HERIN_PARK_resume.pdf">resume</a></div>
      </div>
    </div>  
	  
  </template>
</dom-module>
 
<script>
               
  Polymer({
      is: 'herin-resume',

      properties: {
      },

  		attached: function() {
  			console.log("Resume page is ready.");
  		}
  });

</script>
 

 
