<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/paper-card/paper-card.html">

<dom-module id="image-viewer">

  <template>

    <style>

    </style>
<!-- 
    <div class="image-container"> -->
      <template is="dom-repeat" items="{{slides}}">
        <iron-image style="width:900px; height:600px;" sizing="contain" src="{{item}}"></iron-image>
      </template>
<!--     </div> -->

  </template>

  <script>

    Polymer({

        is: 'image-viewer',

        properties: {
          slides: {
            type: Array,
            observer: "slidesChanged"
          }
        },

        slidesChanged: function() {  
        }

    });

  </script>

</dom-module>

